/* src/Components/MenuList/MenuList.css */

.menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

/* Media queries pour les petits écrans */
@media (max-width: 768px) {
    .menu-list {
        padding: 10px;
    }
}